.container {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
}

label {
  font-size: 18px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

h1 {
  text-align: center;
}
